<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>681288317522-henuf2foqmmepmuhphtjq4nolckk419i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.681288317522-henuf2foqmmepmuhphtjq4nolckk419i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>681288317522-b9hc8mdn376pj9j3fj9kseal6n9no4p7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAtCnKrsJlu7QawWo7miNSqpVzuH7XoH58</string>
	<key>GCM_SENDER_ID</key>
	<string>681288317522</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aviatoFinance</string>
	<key>PROJECT_ID</key>
	<string>aviato-finance</string>
	<key>STORAGE_BUCKET</key>
	<string>aviato-finance.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:681288317522:ios:3e617ddd316c1872c07d8b</string>
	<key>DATABASE_URL</key>
	<string>https://aviato-finance-default-rtdb.firebaseio.com</string>
</dict>
</plist>